.about {
	div {
		p {
			margin: 20px 0;
		}
		img {
			width: 100%;
		}
	}
}

@media only screen and (min-width: 700px) {
	.about {
		vertical-align: text-top;
		div {
			display: inline-block;
			width: 300px;
			vertical-align: text-top;
			&:nth-child(1) {
				width: calc(100% - 346px);
				margin-right: 40px;
			}
		}
	}
}