.contact {
	.phone, .mail {
		vertical-align: middle;
		margin: 20px 0;
		img {
			height: 1.2em;
			vertical-align: middle;
		}
		p {
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			margin-bottom: 0;
		}
	}
	.mail {
		margin: 20px 0 0 0;
	}
}