footer {
	// background: $grey;
	background: linear-gradient(180deg, #696969 0%, $grey 100%);
	color: $green;
	text-align: center;
	p {
		pointer-events: none;
		a {
			text-decoration:none;
			color:inherit; 
		}
	}
}