footer {
	// background: #1C2321;
	// background: #d1d1d1;
	background: #0B3954;
	color: $white;
	text-align: center;
	p {
		pointer-events: none;
		a {
			text-decoration:none;
			color:inherit; 
		}
	}
}