.navbar {
	display: none;
}

@media only screen and (min-width: 1000px) {
    .navbar {
    	display: flex;
    	flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 30px 20px;
		box-shadow: 0 3px 16px rgba(0,0,0,.1);
		letter-spacing: 1px;
		.name {
			font-size: 1.6em;
			width: 329px;
			border-bottom: 2px solid white;
		}
		.options {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			div {
				cursor: pointer;
				border-bottom: 2px solid white;
				margin-right: 20px;
				&:nth-child(5) {
					margin-right: 0;
				}
				&:hover {
					border-bottom: 2px solid $green;
				}
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
    .navbar {
        padding: 30px 60px;
        .options {
			div {
				margin-right: 40px;
			}
		}
    }
}
@media only screen and (min-width: 1600px) {
    .navbar {
        padding: 30px 100px;
        .options {
			div {
				margin-right: 45px;
			}
		}
    }
}