.prices {
	background: #f5f6f8;
	table, th, td {
		border: 1px solid #d3d5d8;
		border-collapse: collapse;
	}
	p {
		&:first-of-type {
			margin-bottom: 20px;
		}
		margin-top: 20px;
	}
	table {
		background: white;
		color: black;
		box-shadow: 0 3px 16px rgba(0,0,0,.1);
		tr {
			&:nth-child(1) {
				background: $darkblue;
			}
			th {
				padding: 10px 0;
				color: $white;
				font-weight: 500;
				font-size: 1.1em;
			}
			td {
				padding: 10px 20px;
			}
		}
	}
}