.prices {
	// background: #BFD7EA;
	// background: #C33C54;
	// background: #524632;
	// background: #815E5B;
	background: #F7FFF7;
	table, th, td {
		border: 1px solid rgba(160, 160, 160, .3);
		border-collapse: collapse;
	}
	table {
		margin-top: 30px;
		margin-bottom: 30px;
		width: 100%;
	}
	p {
		margin-top: 40px;
		&:first-of-type {
			margin-top: 0;
		}
	}
	table {
		background: $white;
		color: black;
		box-shadow: 0 3px 16px rgba(0,0,0,.1);
		tr {
			th {
				padding: 20px 5px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
			td {
				padding: 20px 20px;
				letter-spacing: 1px;
			}
		}
	}
}