@import 'variables';

@import 'about';
@import 'offer';
@import 'prices';
@import 'portfolio';
@import 'contact';
@import 'footer';

@import 'menu';
@import 'burger';
@import 'navbar';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
	scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.about, .offer, .prices, .portfolio, .contact, footer {
	padding: 20px;
}

h1 {
	margin-bottom: 20px;
	font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    line-height: 26px;
    letter-spacing: 1px;
}

@media only screen and (min-width: 900px) {
    .about, .offer, .prices, .portfolio, .contact, footer {
        padding: 50px;
    }
}
@media only screen and (min-width: 1280px) {
    .about, .offer, .prices, .portfolio, .contact, footer {
        padding: 50px 200px;
    }
}
@media only screen and (min-width: 1500px) {
    .about, .offer, .prices, .portfolio, .contact, footer {
        padding: 50px 250px;
    }
}
@media only screen and (min-width: 1600px) {
    .about, .offer, .prices, .portfolio, .contact, footer {
        padding: 50px 300px;
    }
}
@media only screen and (min-width: 1900px) {
    .about, .offer, .prices, .portfolio, .contact, footer {
        padding: 70px 400px;
    }
}