.about {
  display: flex;
  flex-direction: column; }
  .about div p {
    margin: 20px 0; }
  .about div img {
    width: 100%; }

@media only screen and (min-width: 800px) {
  .about {
    flex-direction: row;
    justify-content: space-between; }
    .about .text {
      flex: 1;
      margin-right: 50px; }
    .about .img {
      width: 350px; } }

.offer {
  display: flex;
  flex-direction: column;
  color: #FFFFFE;
  background: #0B3954; }
  .offer .tilesContainer {
    color: black; }
    .offer .tilesContainer .firstRow, .offer .tilesContainer .secondRow {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .offer .tilesContainer .firstRow .tile, .offer .tilesContainer .secondRow .tile {
        background: white;
        padding: 30px;
        margin: 0 0 20px 0;
        box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1); }
        .offer .tilesContainer .firstRow .tile .name, .offer .tilesContainer .secondRow .tile .name {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .offer .tilesContainer .firstRow .tile .name h5, .offer .tilesContainer .secondRow .tile .name h5 {
            font-size: 1.2em;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px; }
          .offer .tilesContainer .firstRow .tile .name img, .offer .tilesContainer .secondRow .tile .name img {
            width: 40px;
            height: 40px;
            margin-right: 15px; }
        .offer .tilesContainer .firstRow .tile div p, .offer .tilesContainer .secondRow .tile div p {
          margin-top: 10px; }

@media only screen and (min-width: 800px) {
  .offer .tilesContainer .firstRow, .offer .tilesContainer .secondRow {
    flex-direction: row; }
    .offer .tilesContainer .firstRow .tile, .offer .tilesContainer .secondRow .tile {
      width: calc(50% - 70px);
      margin: 0; }
  .offer .tilesContainer .firstRow, .offer .tilesContainer .secondRow {
    margin: 0 0 20px 0; }
  .offer .text {
    flex: 1; } }

@media only screen and (min-width: 1300px) {
  .offer .tilesContainer .firstRow .tile, .offer .tilesContainer .secondRow .tile {
    width: calc(50% - 80px);
    margin: 0; }
  .offer .tilesContainer .firstRow, .offer .tilesContainer .secondRow {
    margin: 0 0 40px 0; }
  .offer .text {
    flex: 1; } }

.prices {
  background: #F7FFF7; }
  .prices table, .prices th, .prices td {
    border: 1px solid rgba(160, 160, 160, 0.3);
    border-collapse: collapse; }
  .prices table {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%; }
  .prices p {
    margin-top: 40px; }
    .prices p:first-of-type {
      margin-top: 0; }
  .prices table {
    background: #FFFFFE;
    color: black;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1); }
    .prices table tr th {
      padding: 20px 5px;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .prices table tr td {
      padding: 20px 20px;
      letter-spacing: 1px; }

.contact .phone, .contact .mail {
  vertical-align: middle;
  margin: 20px 0; }
  .contact .phone img, .contact .mail img {
    height: 1.2em;
    vertical-align: middle; }
  .contact .phone p, .contact .mail p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 0; }

.contact .mail {
  margin: 20px 0 0 0; }

footer {
  background: #0B3954;
  color: #FFFFFE;
  text-align: center; }
  footer p {
    pointer-events: none;
    line-height: 2em; }
    footer p a {
      text-decoration: none;
      color: inherit; }

@media only screen and (min-width: 350px) {
  footer p {
    max-width: 300px;
    margin: 0 auto; } }

@media only screen and (min-width: 440px) {
  footer p {
    max-width: 440px; } }

.menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: #0B3954;
  overflow: hidden;
  transition: width 0.4s ease;
  z-index: 10000; }
  .menu .flexbox {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: space-between; }
    .menu .flexbox div {
      padding: 16px 0;
      width: calc(100vw - 20vh);
      color: #b9d432;
      letter-spacing: 3px;
      font-size: 1.2em;
      text-align: center; }
  .menu.open {
    width: 100vw; }

.burger {
  width: 50px;
  height: 50px;
  z-index: 10000000000;
  top: 0;
  right: 0;
  position: absolute;
  margin: 6px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .burger span {
    display: block;
    position: absolute;
    width: 32px;
    height: 2px;
    background: #b9d432;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .burger span:nth-child(1) {
      top: 14px;
      left: 9px; }
    .burger span:nth-child(2) {
      top: 23px;
      left: 9px; }
    .burger span:nth-child(3) {
      top: 23px;
      left: 9px; }
    .burger span:nth-child(4) {
      top: 32px;
      left: 9px; }
  .burger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .burger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }

@media only screen and (min-width: 1000px) {
  .burger {
    display: none; } }

.navbar {
  display: block;
  position: fixed;
  height: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.4s ease;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
  background: white; }

@media only screen and (min-width: 1000px) {
  .navbar .flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    letter-spacing: 1px;
    transition: height 0.4s ease; }
    .navbar .flexbox .name {
      font-size: 1.6em;
      width: 329px; }
    .navbar .flexbox .options {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .navbar .flexbox .options div {
        cursor: pointer;
        margin-right: 20px; }
        .navbar .flexbox .options div:nth-child(5) {
          margin-right: 0; }
        .navbar .flexbox .options div:after {
          content: '';
          display: block;
          margin: auto;
          height: 2px;
          width: 0px;
          background: #b9d432;
          transition: width .4s ease; }
        .navbar .flexbox .options div:hover:after {
          width: 100%;
          background: #b9d432; }
  .navbar.show {
    height: 100px; } }

@media only screen and (min-width: 1280px) {
  .navbar {
    padding-left: 60px;
    padding-right: 60px; }
    .navbar .flexbox .options div {
      margin-right: 40px; } }

@media only screen and (min-width: 1600px) {
  .navbar {
    padding-left: 100px;
    padding-right: 100px; }
    .navbar .flexbox .options div {
      margin-right: 45px; } }

.arrow {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 15px;
  cursor: pointer;
  z-index: 100;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
  padding: 12px 15px;
  border-radius: 50%;
  z-index: 10000000000; }
  .arrow img {
    width: 30px;
    height: 30px; }
  .arrow.show {
    display: block; }

@media only screen and (min-width: 1000px) {
  .arrow {
    right: 50px;
    bottom: 50px; }
    .arrow img {
      width: 40px;
      height: 40px; } }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }

.about, .offer, .prices, .portfolio, .contact, footer {
  padding: 20px; }

h1 {
  margin-bottom: 20px;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 3px; }

p {
  line-height: 26px;
  letter-spacing: 1px; }

@media only screen and (min-width: 900px) {
  .offer, .prices, .portfolio, .contact, footer {
    padding: 50px; }
  .about {
    padding: 150px 50px 50px 50px; } }

@media only screen and (min-width: 1280px) {
  .offer, .prices, .portfolio, .contact, footer {
    padding: 50px 200px; }
  .about {
    padding: 150px 200px 50px 200px; } }

@media only screen and (min-width: 1500px) {
  .offer, .prices, .portfolio, .contact, footer {
    padding: 50px 250px; }
  .about {
    padding: 150px 250px 50px 250px; } }

@media only screen and (min-width: 1600px) {
  .offer, .prices, .portfolio, .contact, footer {
    padding: 50px 300px; }
  .about {
    padding: 150px 300px 50px 300px; } }

@media only screen and (min-width: 1900px) {
  .offer, .prices, .portfolio, .contact, footer {
    padding: 70px 400px; }
  .about {
    padding: 150px 400px 50px 400px; } }
