.about p {
  margin: 4vh 0; }

.about img {
  width: 100%; }

.offer {
  background: #3C4F76;
  color: #FFFFFA; }
  .offer .tiles {
    width: 100%;
    color: black; }
    .offer .tiles .tile {
      background: white;
      padding: 4vh;
      margin: 2vh 0;
      vertical-align: middle;
      box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1); }
      .offer .tiles .tile h5 {
        font-family: 'Noto Serif', serif;
        display: inline-block;
        vertical-align: middle;
        padding-left: 4vh; }
      .offer .tiles .tile img {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px; }
      .offer .tiles .tile p {
        margin-top: 2vh; }

.prices {
  background: #f1f1f1; }
  .prices table, .prices th, .prices td {
    border: 1px solid #BFC0C0;
    border-collapse: collapse; }
  .prices p {
    margin-top: 20px; }
    .prices p:first-of-type {
      margin-bottom: 20px; }
  .prices table {
    background: white; }
    .prices table tr:nth-child(1) {
      background: #272727;
      background: linear-gradient(0deg, #272727 0%, #6b6d76 100%); }
    .prices table tr:nth-child(3) {
      background: #E8EEF2; }
    .prices table tr:nth-child(5) {
      background: #E8EEF2; }
    .prices table tr:nth-child(7) {
      background: #E8EEF2; }
    .prices table tr th {
      padding: 10px 0;
      color: #FFFFFA;
      font-weight: 500; }
    .prices table tr td {
      padding: 10px 20px; }

.contact p {
  margin-bottom: 20px; }

.contact div {
  vertical-align: middle;
  margin: 20px 0; }
  .contact div img {
    height: 1.2em;
    vertical-align: middle; }
  .contact div p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 0; }

footer {
  background: #515052;
  color: #FFFFFA;
  text-align: center; }

.menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background: #515052;
  overflow: hidden;
  transition: width 0.4s ease; }
  .menu .flexbox {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: space-between;
    margin: 10vh;
    height: 80vh; }
    .menu .flexbox div {
      font-family: 'Noto Sans', sans-serif;
      padding: 16px 0;
      border-bottom: 2px solid #b9d432;
      width: 50vw;
      color: #FFFFFA; }
  .menu.open {
    width: 100vw; }

.burger {
  width: 32px;
  height: 24px;
  position: absolute;
  z-index: 10000000000;
  top: 2vh;
  right: 2vw;
  margin: 6px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #b9d432;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .burger span:nth-child(1) {
      top: 0px; }
    .burger span:nth-child(2) {
      top: 9px; }
    .burger span:nth-child(3) {
      top: 9px; }
    .burger span:nth-child(4) {
      top: 18px; }
  .burger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .burger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif; }

.about, .offer, .prices, .portfolio, .contact, footer {
  padding: 20px; }

h1 {
  margin-bottom: 20px;
  font-family: 'Noto Serif', serif;
  font-size: 1.2em; }
